/*============edit user privileges==========*/
#findUser {
    margin: 10px;
}

#findUserWarn {
    color: red;
}

#submitUserPrivilege, #editPrivilege {
    width: 400px;
    margin: auto;
    margin-top: 10px;
}

#editUserPrivilegeForm {
    margin: 10px;
}

/*============end edit user privileges==========*/

.addProductInputs {
    width: 170px;

}

.addProductDiv {
    width: 800px;
    margin-bottom: 5px;
}

.addProductLabel {
    width: 305px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.addProductInputDiv {
    width: 485px;
    float: left;
    text-align: left
}