/*============edit user privileges==========*/
#findUser {
    margin: 10px;
}

#findUserWarn {
    color: red;
}

#submitUserPrivilege, #editPrivilege {
    width: 400px;
    margin: auto;
    margin-top: 10px;
}

#editUserPrivilegeForm {
    margin: 10px;
}

/*============end edit user privileges==========*/

/*============ add product ==========*/
.addProductInputs {
    width: 170px;

}

.addProductDiv {
    width: 800px;
    margin-bottom: 5px;
}

.addProductLabel {
    width: 305px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.addProductInputDiv {
    width: 485px;
    float: left;
    text-align: left
}

/*============ end add product ==========*/

/*============ add product in promo ==========*/

#mainImageDiv {
    width: 400px;
    text-align: center;
    margin: auto;
}

#addPromoImg {
    max-width: 400px;
    max-height: 300px;
}
#addPromoAtributes {
    /*border: 1px solid gray;*/
    width: 400px;
    margin: auto;
}

#addPromoPrice {
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}