/*============edit user privileges==========*/
#findUser {
    margin: 10px;
}

#findUserWarn {
    color: red;
}

#submitUserPrivilege, #editPrivilege {
    width: 400px;
    margin: auto;
    margin-top: 10px;
}

#editUserPrivilegeForm {
    margin: 10px;
}

/*============end edit user privileges==========*/

/*============ add product ==========*/
.addProductInputs {
    width: 170px;

}

.addProductDiv {
    width: 800px;
    margin-bottom: 5px;
}

.addProductLabel {
    width: 305px;
    float: left;
    text-align: right;
    margin-right: 10px;
}

.addProductInputDiv {
    width: 485px;
    float: left;
    text-align: left
}

/*============ end add product ==========*/


.mainImageDiv {
    width: 400px;
    text-align: center;
    margin: auto;
}

.adminMainImg {
    max-width: 400px;
    max-height: 300px;
}
.adminPromoImg {
    width: 70px;
    float: left;
    z-index: 1;
}
.adminAtributes {
    width: 400px;
    margin: auto;
}

.adminPriceDiv {
    width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

#newQuontitydiv {
    margin-right: 200px;
}