*{
    padding: 0;
    margin: 0;
}
body {
    width: 1170px;
    margin: auto;
}
.errors {
    max-width: 1170px;
}
/*for all inputs and selects*/
input, select {
    border: 1px solid #e60000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 20px;
    background-color: #ffe6e6;
}
input:focus, select:focus {
    border: 1px solid #e60000;
    box-shadow: 2px 2px 2px #cc0000;
    outline: none;
}

.floatleft {
    float: left;
}

.button, .link{
    background:none;
    border: 1px solid #e60000;
    box-shadow: 2px 2px 3px #e60000;
    border-radius: 7px;
    padding: 0 15px 0 15px;
    text-align: center;
    color: #e60000;
    cursor: pointer;
    margin: 5px;
}

.button:focus, .link:focus {
    border: 1px solid #e60000;
    box-shadow: 2px 2px 2px #cc0000;
    outline: none;
}
.button:hover, .link:hover{
    border: 1px solid #b30000;
    box-shadow: 3px 3px 4px #cc0000;
}
.button:active, .link:active {
    border: 1px solid #e60000;
    box-shadow: 1px 1px 4px #b30000;
}

.button:disabled {
    color: gray;
    border: 1px solid gray;
    box-shadow: 3px 3px 4px gray;
}

.clearBoth{
    clear: both;
}
.displayInlineBlock{
    display: inline-block;
}
/*================== Register ==========================*/
.register, .contactUs {
    width: 650px;
    margin: auto;
    text-align: center;
}

fieldset {
    text-align: center;
    width: 800px;
    margin: auto;
    padding: 25px;
}

.labels, .inputs, .warnings {
    height: 20px;
    width: 200px;
    float: left;
    margin-bottom: 20px;
}
/*just one id from contactUs form*/
#contactMessageDiv {
    height: auto;
}
.labels {
    text-align: right;
}
.warnings {
    text-align: left;
}

#termsDiv{
    width: 385px;
    clear: both;
    float: left;
    text-align: right;
    margin-right: 15px;
}
#notificationDiv{
    text-align: right;
    width: 600px;
    clear: both;
    margin-bottom: 20px;
}
.requiredField{
    font-size: 12px;
    color: red;
}

/*================== Register ==========================*/

/*================== Login ==========================*/
.login {
    width: 500px;
    margin: auto;
    text-align: center;
}
/*================== Login ==========================*/

/*================== Header ==========================*/
#phone{
    width: 20px;
    height:auto;
}
#promotion{
    width: 20px;
    height:auto;
}
#homePage{
    width: 20px;
    height:auto;
}
#ittechLogo{
    width: 250px;
    height:auto;
    float: left;
    margin-right: 100px;
}
header ul li {
    display: inline-block;
    width:10%;
    text-align: center;
}

header ul li a {
    display: block;
    width: 100%;
    text-decoration: none;
}

header ul li:hover {
    background-color: #e60000;
}

.container{
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    float: left;
    margin-top: 40px;
    margin-left: 70px;
}

.container input#search{
    width: 300px;
    height: 40px;
    background: #e60000;
    border: none;
    /*font-size: 10pt;*/
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container input#search::-webkit-input-placeholder {
    color: white;
}

.container input#search:-moz-placeholder { /* Firefox 18- */
    color: white;
}

.container input#search::-moz-placeholder {  /* Firefox 19+ */
    color: white;
}

.container input#search:-ms-input-placeholder {
    color: white;
}

.container:hover button.icon:hover{
    background: white;
}
#navigation{
    margin-top: 40px;
    float: left;
    margin-left: 250px;
}
#login{
    width: 20px;
    height: auto;
    float: left;
}
#mainNavigation{
    margin-left: 20px;
    width:150px;
    height:80px;
    border:1px solid black;
    display:none;
    z-index: 1;
    position: absolute;
    background-color: white;
    color: black;
}
#cart{
    width: 20px;
    height: auto;
    float: left;
}
#mainCart{
    float: right;
    margin-top: 0;
}
nav{
    clear: both;
    width: 1170px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 100px;
}

nav ul li {
    width: 167px;
    height: 40px;
    text-align: center;
    float: left;
    display: block;
    text-decoration: none;
    padding-top: 6px;
    padding-right: 7px;
    box-sizing: border-box;
}

nav ul li:hover {
    background-color: #e60000;
}

#tv{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#tvTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}

.types{
    display: block;
    padding: 0;
    text-decoration: none;

}

#pc{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#pcTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}

#phones{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#phoneTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}

#electric{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#appTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}

#smallApp{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#smallAppTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}

#photo{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#photoTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}

#gaming{
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: none;
}
#gamingTypes{
    position: absolute;
    float: left;
    display: none;
    width: 167px;
    text-align: left;
    z-index: 1;
    background-color: #e60000;
    color: white;
    margin-top: 10px;
}


/*================== Header ==========================*/


/*================== Footer ==========================*/
footer{
    background-color: #0D0D0D;
    height: 90px;
    width: 100%;
    color: white;
    clear: both;
    margin-top: 50px;
}

.col1{
    float: left;
    width: 250px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 60px;

}

.col1 ul{
    list-style-type: none;
}

.col1 ul li:hover {
    background-color: #e60000;
}

.col2{
    float: left;
    width: 250px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 60px;

}

.col2 ul{
    list-style-type: none;
}

.col2 ul li:hover {
    background-color: #B84339;
}

/*================== Footer ==========================*/


/*================== Products visualisation - main html ==========================*/

main{
    width: 1170px;
    box-sizing: border-box;
}
aside{
    margin-top: 20px;
    width: 15%;
    height: 150px;
    border: 1px solid gray;
    float: left;
    box-sizing: border-box;
}
article{
    margin-top: 20px;
    width: 85%;
    /*border: 1px solid black;*/
    float: left;
    box-sizing: border-box;
}

.contentContainer {
    margin: 1.5px;
    clear: both;
    box-sizing: border-box;
}

.productPanel{
    margin: 1.5px;
    border: 1px solid gray;
    box-sizing: border-box;
    float: left;
    width: 244px;
    height: 450px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0;
    position: relative;
}

.productPanel:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imageDiv{
    position: relative;
    width: 240px;
    height:250px;
    z-index: 0;
    top:0;
    left:0;
}
.frontImg{
    max-width:100%;
    max-height:100%;
    z-index: 0;
}

.imgPromo{
    position: absolute;
    width: 70px;
    height: auto;
    float: right;
    z-index: 10;
    top:0;
    right: 0;
}

.prevBuyButton{
    max-width: 80%;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    font-size: 24px;
    padding-top: 10px;
}


/*================== Products visualisation - main html ==========================*/


/*================== My profil ==========================*/
.profileInfo{
    width: 600px;
}

#userProfilImage{
    width: 20px;
    height: auto;
    float: left;
}

#userNavigation{
    float: left;
    width: 150px;
    padding-left: 20px;

}
#userNavigation ul{
    list-style-type: disc;
}
#userInformation,  #userProfile {
    text-align: center;
    margin: 10px;
}
#myFavorites{
    text-align: center;
}

/*================== My profil ==========================*/



/*================== User cart ==========================*/

table#userCart{
    border-collapse: collapse;
    width: 90%;
    border: 2px solid black;
    text-align: center;
    margin-left: 80px;
}

table, th, td{
    border: 2px solid black;
}


/*================== User cart ==========================*/

/*================== My orders ==========================*/
#tableUserOrders{
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 60%;
    margin: 0 auto;

}

#tableUserOrders th td{
    border: 1px solid black;

}

/*================== My orders ==========================*/


/*================== Products on promotion ==========================*/

#promoBanner{
    margin-top: 20px;
    margin-left: 20px;
}
#promoArticle{
    margin-left: 80px;
}


/*================== Products on promotion ==========================*/