<fieldset>
    <legend>Add new product</legend>
    <form action="controller/addProductController.php" method="post" enctype="multipart/form-data">

        <div id="mainTypeDiv">
        </div>

        <div id="typeDiv">
        </div>

        <div id="brandDiv">
        </div>

        <div id="inputModel">
        </div>

        <div id="inputPrice">
        </div>

        <div id="inputQuontity">
        </div>

        <div id="inputSpecifications">
        </div>

        <div id="inputImg1">
        </div>

        <div id="inputImg2">
        </div>

        <div id="inputImg3">
        </div>

        <div id="submit">
        </div>

    </form>
</fieldset>
