
<fieldset>
    <legend><h3>Add new product</h3></legend>
    <form action="controller/addProductController.php" method="post" enctype="multipart/form-data">

        <div id="mainTypeDiv" class="addProductDiv">
        </div>

        <div id="typeDiv" class="addProductDiv">
        </div>

        <div id="brandDiv" class="addProductDiv">
        </div>

        <div id="inputModel" class="addProductDiv displayInlineBlock">
        </div>

        <div id="inputPrice" class="addProductDiv displayInlineBlock">
        </div>

        <div id="inputQuontity" class="addProductDiv displayInlineBlock">
        </div>

        <div id="inputSpecifications">
        </div>

        <div id="inputImg1" class="addProductDiv">
        </div>

        <div id="inputImg2" class="addProductDiv">
        </div>

        <div id="inputImg3" class="addProductDiv">
        </div>

        <div id="submit" class="addProductDiv">
        </div>

    </form>
</fieldset>
