<fieldset>
    <legend><h3>Edit product quontity</h3></legend>
    <div id="viewProductToEdit">

    </div>
    <div class="displayInlineBlock" id="editProductDiv">
        <div>
            <h4>Current quontity: <span id="currentQuontity"></span></h4>
        </div>
        <div class="labels">
            <label for="newQuontity">New quontity:</label>
        </div>
        <div class="inputs">
            <input type="number" name="quontity" id="newQuontity">
        </div>
        <div>
            <button class="button" id="editProductButton" onclick="editProduct(this.value)">Change quontity</button>
        </div>
    </div>


</fieldset>