        </main>
        <footer>
            <div class="col1">
                <ul>
                    <li>ITTech-online shop</li>
                    <li><a href="view/shops.html"></a>Shops</li>
                    <li><a href="view/contactITTech"></a>Contacts</li>
                </ul>
            </div>
            <div class="col2">
                <ul>
                    <li>Contacts</li>
                    <li>National phone for the customer</li>
                    <li>0000 00 000</li>
                    <li>At the cost of an urban conversation</li>
                </ul>
            </div>


        </footer>
    </body>
</html>