        </main>
        <footer>
            <div class="col1">
                <ul>
                    <li>ITTech-online shop</li>
                    <li><a href="view/shops.html"></a>Shops</li>
                    <li><a href="view/contactITTech"></a>Contacts</li>
                </ul>
            </div>
            <div class="col2">
                <ul>
                    <li>Contacts</li>
                    <li>National phone for the customer</li>
                    <li>0000 00 000</li>
                    <li>At the cost of an urban conversation</li>
                </ul>
            </div>
        </footer>
        <script src="js/showAllProductsJS.js"></script>
        <script src="js/isLoggedJS.js"></script>
        <script src="js/loginJS.js"></script>
        <script src="js/loginNavigationJS.js"></script>
        <script src="js/viewSingleProductJS.js"></script>
        <script src="js/search.js"></script>
        <script src="js/userCartJS.js"></script>
        <script src="js/showTypeAppJS.js"></script>
        <script src="js/showTypeGamingJS.js"></script>
        <script src="js/showTypePCJS.js"></script>
        <script src="js/showTypePhoneJS.js"></script>
        <script src="js/showTypePhotoJS.js"></script>
        <script src="js/showTypeSmallAppJS.js"></script>
        <script src="js/showTypeTVJS.js"></script>
        <script src="js/favorites.js"></script>
        <script src="js/showPromoProducts.js"></script>
        <script src="js/addProductJS.js"></script>
        <script src="js/myProfileInfoJS.js"></script>
        <script src="js/showMyOrdersJS.js"></script>
        <script src="js/confirmationOrderJS.js"></script>
        <script src="js/addPromoProduct.js"></script>
        <script src="js/editProduct.js"></script>
        <script src="js/removeProduct.js"></script>
    </body>
</html>