<!--TODO check very carefully for the names of the alt attributes-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITTECH-online shop</title>
    <link rel="stylesheet" href="style/css.css">
    <script src="js/loginJS.js"></script>
    <script src="js/addProductJS.js"></script>
    <script src="js/loginNavigationJS.js" type="text/javascript"></script>
    <script src="js/isLoggedJS.js"></script>
    <script src="js/showAllProductsJS.js"></script>
    <script src="js/viewSingleProductJS.js"></script>
    <script src="js/search.js"></script>
    <script src="js/userCartJS.js"></script>
    <script src="js/showTypeAppJS.js"></script>
    <script src="js/showTypeGamingJS.js"></script>
    <script src="js/showTypePCJS.js"></script>
    <script src="js/showTypePhoneJS.js"></script>
    <script src="js/showTypePhotoJS.js"></script>
    <script src="js/showTypeSmallAppJS.js"></script>
    <script src="js/showTypeTVJS.js"></script>
    <script src="js/getPromoProducts.js"></script>

</head>
<body onload="showAllProducts(sessionStorage.search); loginValidate();
isLogged();showMainTypes(); viewSingleProduct();  showUserCart();">
<header>
    <ul>
        <li><a href="?page=contactITTech"><img id="phone" src="assets/displayImages/phone.png" alt="Phone">0000 00 000</a></li>
        <li onclick="getPromoProducts()"><img id="promotion" src="assets/displayImages/promotions.png" alt="Promotions">Promotions</li>
        <li><a href="?page=main"><img id="homePage" src="assets/displayImages/homePage.png" alt="Home page">Home page</a></li>
    </ul>
    <hr>
    <a  id="ittechLogo" href="?page=main"><img src="assets/displayImages/logo.png"/></a>
    <div class="box">
        <div class="container">
            <input type="search" id="search" list='autocomplete' placeholder="Search..." onkeyup="clickSearch(event)"/>
            <datalist id='autocomplete'></datalist>
            <button class="icon" ><i class="fa fa-search"></i></button>
        </div>
        <!--<div id="searchAutocomplete"></div>-->
    </div>

    <!--TODO make the drop down menu(user/administrator)-->

    <div id="navigation">
        <button id="loginButton" class="button" onclick="loginNavigation()"><img id="login" src="assets/displayImages/person.png" alt="Person">Login</button>
        <div id="mainNavigation">
            <a href="?page=login">Login</a><br/>
            <a href="?page=register">Register</a>
        </div>
    </div>
    <button onclick="location.href='?page=userCart'"><img id="cart" src="assets/displayImages/cart.png" alt="Cart"></button>
</header>
<nav>
    <ul>
        <li id="tv" onmouseover="showTypeTV()" onmouseout="hideTypeTV()">TV sets and audio</li>
        <li onfocus="showTypePC()">Computer and periphery</li>
        <li onmouseover="showTypePhone()">Phones and tablets</li>
        <li onmouseover="showTypeApp()">Electrical appliances</li>
        <li onmouseover="showTypeSmallApp()">Small electrical appliances</li>
        <li onmouseover="showTypePhoto()">Photo and video</li>
        <li onmouseover="showTypeGaming()">Gaming</li>
    </ul>

    <div id="tvTypes"></div>
    <div id="tvBrands"></div>

    <div id="pcTypes"></div>
    <div id="pcBrands"></div>

    <div id="phoneTypes"></div>
    <div id="phoneBrands"></div>

    <div id="appTypes"></div>
    <div id="appBrands"></div>

    <div id="smallAppTypes"></div>
    <div id="smallAppBrands"></div>

    <div id="photoTypes"></div>
    <div id="photoBrands"></div>

    <div id="gamingTypes"></div>
    <div id="gamingBrands"></div>



</nav>
<main>