<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITTech-online shop</title>
    <link rel="stylesheet" href="./style/css.css">
    <link rel="stylesheet" href="./style/viewSingleProduct.css">
    <link rel="stylesheet" href="./style/adminsPages.css">
    <link rel="stylesheet" href="./style/font-awesome/css/font-awesome.css">
</head>
<body onload="showAllProducts(); viewSingleProduct(); isLogged(); showUserCart(); loginValidate(); showPromoProducts(); showFavorites();
showMainTypes(); showMyProfile(); showMyOrders(); confirmOrder(); addPromoProduct(); viewEditProduct(); viewRemoveProduct(); removePromotion(); ">
<header>
    <ul>
        <li><a href="./"><img id="homePage" src="assets/displayImages/homePage.png" alt="Home page">Home page</a></li>
        <li><a href="?page=contactittech"><img id="phone" src="assets/displayImages/phone.png" alt="Phone">Contact
            us</a></li>
        <li><a href="?page=productsOnPromotions"><img id="promotion" src="assets/displayImages/promotions.png"
                                                      alt="Promotions">Promotions</a></li>
    </ul>
    <hr>
    <a id="ittechLogo" href="./"><img src="assets/displayImages/logo.png"/></a>
    <div class="box">
        <div class="container">
            <input type="search" id="search" list='autocomplete' placeholder="Search..." onkeyup="clickSearch(event)"/>
            <datalist id='autocomplete'></datalist>
            <button class="icon"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <div id="navigation">
        <button id="loginButton" class="button" onclick="loginNavigation()"><img id="login"
                                                                                 src="assets/displayImages/person.png"
                                                                                 alt="Person">Login
        </button>
        <div id="mainNavigation">
            <a href="?page=login">Login</a><br/>
            <a href="?page=register">Register</a>
        </div>
        <div id="mainCart">
            <button class="button" onclick="location.href = '?page=userCart'"><img id="cart"
                                                                                   src="assets/displayImages/cart.png"
                                                                                   alt="Cart">Cart
            </button>
        </div>
    </div>
</header>
<nav>
    <ul>
        <li id="tv" onmouseover="showTypeTV()" onmouseout="hideTypeTV()">TV sets and audio</li>
        <li id="pc" onmouseover="showTypePC()" onmouseout="hideTypePC()">Computer and periphery</li>
        <li id="phones" onmouseover="showTypePhone()" onmouseout="hideTypePhone()">Phones and tablets</li>
        <li id="electric" onmouseover="showTypeApp()" onmouseout="hideTypeApp()">Electrical appliances</li>
        <li id="smallApp" onmouseover="showTypeSmallApp()" onmouseout="hideTypeSmallApp()">Small appliances</li>
        <li id="photo" onmouseover="showTypePhoto()" onmouseout="hideTypePhoto()">Photo and video</li>
        <li id="gaming" onmouseover="showTypeGaming()" onmouseout="hideTypeGaming()">Gaming</li>
    </ul>

    <div id="tvTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Television')">Television</li>
            <li class="types" onclick="checkLocation('type asc', 'Home theater')">Home theater</li>
            <li class="types" onclick="checkLocation('type asc', 'Audio systems')">Audio systems</li>
        </ul>
    </div>

    <div id="pcTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Laptops')">Laptops</li>
            <li class="types" onclick="checkLocation('type asc', 'Personal computers')">Personal computers</li>
            <li class="types" onclick="checkLocation('type asc', 'Monitors')">Monitors</li>
        </ul>
    </div>

    <div id="phoneTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Mobile phones')">Mobile phones</li>
            <li class="types" onclick="checkLocation('type asc', 'E-books')">E-books</li>
            <li class="types" onclick="checkLocation('type asc', 'Tabletes')">Tabletes</li>
        </ul>
    </div>

    <div id="appTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Air conditioner')">Air conditioner</li>
            <li class="types" onclick="checkLocation('type asc', 'Washing machines')">Washing machines</li>
            <li class="types" onclick="checkLocation('type asc', 'Microwaves')">Microwaves</li>
        </ul>
    </div>

    <div id="smallAppTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Hair press')">Hair press</li>
            <li class="types" onclick="checkLocation('type asc', 'Iron')">Iron</li>
            <li class="types" onclick="checkLocation('type asc', 'Kitchen scales')">Kitchen scales</li>
        </ul>
    </div>

    <div id="photoTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Photo cameras')">Photo cameras</li>
            <li class="types" onclick="checkLocation('type asc', 'Video cameras')">Video cameras</li>
            <li class="types" onclick="checkLocation('type asc', 'Digital photo album')">Digital photo album</li>
        </ul>
    </div>

    <div id="gamingTypes">
        <ul>
            <li class="types" onclick="checkLocation('type asc', 'Sony playstation')">Sony playstation</li>
            <li class="types" onclick="checkLocation('type asc', 'Nintendo')">Nintendo</li>
            <li class="types" onclick="checkLocation('type asc', 'Drons')">Drons</li>
        </ul>
    </div>
</nav>
<main>
