
<div id="loginForm">
    <fieldset>
        <legend>Login form</legend>
        <div id="loginWarning"></div>
        <form action="controller/loginController.php" method="post">
            <div class="labels">
                <label for="email">E-mail:</label>
            </div>
            <div class="inputs">
                <input type="email" name="email" id="email" required autofocus onkeyup="loginValidate()" onblur="loginValidate()">
            </div>

            <div class="labels">
                <label for="password">Password:</label>
            </div>
            <div class="inputs">
                <input type="password" name="password" id="password" required autofocus onkeyup="loginValidate()" onblur="loginValidate()">
            </div>
            <div id="loginSubmit">
                <input class="button" type="submit" name="login" value="Login">
            </div>
        </form>
    </fieldset>
</div>
<div class="links">
    <a href="?page=register">Register</a>
</div>