<script src="js/loginJS.js"></script>
<div id="loginForm">
    <fieldset>
        <legend>Login form</legend>
        <h3 id="loginValidate"></h3>
        <form action="controller/loginController.php" method="post">
            <div class="labels">
                <label for="email">E-mail:</label>
            </div>
            <div class="inputs">
                <input type="email" name="email" id="email" required autofocus>
            </div>

            <div class="labels">
                <label for="password">Password:</label>
            </div>
            <div class="inputs">
                <input type="password" name="password" id="password" required autofocus>

            <!--</div>-->

            <!--<div id="loginWarning">-->

            <!--</div>-->

            <div id="loginSubmit">
                <input class="button" type="submit" name="login" value="Login">
            </div>
        </form>
    </fieldset>
</div>