<!--<script src="js/loadPageJS.js"></script>-->
<aside>
    <div id="orderByDiv">
        Order by:
        <select name="orderBy" id="orderBy" onchange="showAllProducts(this.value)">
            <option value='product_id desc' selected>Newest</option>
            <option value="price asc">Price asc.</option>
            <option value="type asc">Type asc.</option>
            <option value="brand asc">Brand asc.</option>
            <option value="price desc">Price desc.</option>
            <option value="type desc">Type desc.</option>
            <option value="brand desc">Brand desc.</option>
        </select>
    </div>
</aside>
<article id="article">

</article>
<!--<div id="pagination">-->
<!--<button onclick="loadPage(-1)">Previous</button><button onclick="loadPage(1)">Next</button>-->
<!--<input type="hidden" id="page" value="1">-->
<!--</div>-->

