<div id="myFavorites">
    <aside id="userNavigation">
        <ul><i class="fa fa-user-circle" aria-hidden="true"></i>My profile
            <hr>
            <li><a class="menuLinks" href="?page=myProfile">My profile</a></li>
            <li><a class="menuLinks" href="?page=myOrders">My orders</a></li>
            <li><a class="menuLinks" href="?page=myFavorites">Favourites</a></li>
            <div>
                <form action="controller/logoutController.php" method="post">
                    <input type="submit" name="logout" value="Logout" class="button">
                </form>
            </div>
        </ul>
    </aside>
    <div class="title">
        <h1>My favorites</h1>
    </div>
    <hr>
    <article id="favoritesArticle">

    </article>
</div>