<div id="myOrders">
    <aside id="userNavigation">
        <ul><i class="fa fa-user-circle" aria-hidden="true"></i> My profile
            <hr>
            <li><a class="menuLinks" href="?page=myProfile">My profile</a></li>
            <li><a class="menuLinks" href="?page=myOrders">My orders</a></li>
            <li><a class="menuLinks" href="?page=myFavorites">Favourites</a></li>
            <div>
                <form action="controller/logoutController.php" method="post">
                    <input type="submit" name="logout" value="Logout" class="button">
                </form>
            </div>
        </ul>
    </aside>
    <div class="title">
        <h1>MyOrders</h1>
    </div>
    <hr>
    <table id="tableUserOrders">
        <th>N:</th>
        <th>Date</th>
        <th>Status</th>
        <th>Address</th>
        <th>Total</th>
    </table>

    <br/>
    <br/>
    <br/>
</div>

