<div id="userProfile">
    <aside id="userNavigation">
        <ul><i class="fa fa-user-circle" aria-hidden="true"></i> My profile
            <hr>
            <li><a class="menuLinks" href="?page=myProfile">My profile</a></li>
            <li><a id="myOrdersLink" class="menuLinks" href="?page=myOrders">My orders</a></li>
            <li><a id="myFavouritesLink" class="menuLinks" href="?page=myFavorites">Favourites</a></li>
            <div>
                <form action="controller/logoutController.php" method="post">
                    <input type="submit" name="logout" value="Logout" class="button">
                </form>
            </div>
        </ul>
    </aside>
    <div class="title">
        <h1>My profile</h1>
    </div>
    <hr>
    <article id="userInformation">
        <div class="profileInfo displayInlineBlock">
            <div class="labels">
                Name:
            </div>
            <div class="inputs" id="myProfileName">

            </div>
        </div>

        <div class="profileInfo displayInlineBlock">
            <div class="labels">
                Family name:
            </div>
            <div class="inputs" id="myProfileFamilyName">

            </div>
            <button class="button floatleft" id="editFamilyName" onclick="editFamilyName()">Edit</button>
        </div>

        <div class="profileInfo displayInlineBlock">
            <div class="labels">
                E-mail:
            </div>
            <div class="inputs" id="myProfileEmail">

            </div>
        </div>

        <div class="profileInfo displayInlineBlock">
            <div class="labels">
                Password:
            </div>
            <div class="inputs" id="myProfilePassword">
                **********
            </div>
            <button class="button floatleft" id="editPassword" onclick="editPassword()">Edit</button>
        </div>

        <div class="profileInfo displayInlineBlock">
            <div class="labels">
                Gender:
            </div>
            <div class="inputs" id="myProfileGender">

            </div>
        </div>

        <div class="profileInfo displayInlineBlock">
            <div class="labels">
                Birth date:
            </div>
            <div class="inputs" id="myProfileBirthday">

            </div>
        </div>
        <div class="profileInfo displayInlineBlock">
            <div class="floatleft" id="myProfileNotifications">

            </div>
            <button id="subscribeButton" class="button floatleft" onclick="editNotifications()"></button>
        </div>
    </article>
</div>
