<script src="js/registerJS.js"></script>
<div id="registerForm">
    <fieldset>
        <legend><h3>Registration form</h3></legend>
        <form action="../controller/registerController.php" method="post">
            <table id="regTable">
                <tr>
                    <td><label for="name">Name:<span class="requiredField">*</span></label></td>
                    <td><input type="text" name="name" id="name" required  autofocus onkeyup="registerValidate()" onblur="registerValidate()" maxlength="45"></td>
                    <td id="nameWarn"></td>
                </tr>
                <tr>
                    <td><label for="familyName">Family name:<span class="requiredField">*</span></label></td>
                    <td><input type="text" name="familyName" id="familyName" required onkeyup="registerValidate()" onblur="registerValidate()" maxlength="45"></td>
                    <td id="familyNameWorn"></td>
                </tr>
                <tr>
                    <td><label for="email">E-mail:<span class="requiredField">*</span></label></td>
                    <td><input type="text" name="email" id="email" required onkeyup="registerValidate()" onblur="registerValidate()" maxlength="45"></td>
                    <td id="emailWorn"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:<span class="requiredField">*</span></label></td>
                    <td><input type="password" name="password" id="password" required onkeyup="registerValidate()" onblur="registerValidate()" maxlength="45"></td>
                    <td id="passwordWorn"></td>
                </tr>
                <tr>
                    <td><label for="confirmPassword">Confirm password:<span class="requiredField">*</span></label></td>
                    <td><input type="password" name="confirmPassword" id="confirmPassword" required onkeyup="registerValidate()" onblur="registerValidate()" maxlength="45"></td>
                    <td id="confirmPasswordWorn"></td>
                </tr>
                <tr>
                    <td>Gender:<span class="requiredField">*</span></td>
                    <td>
                    <label for="male">Male:</label>
                    <input type="radio" name="gender" required id="male" value="male" checked>
                    <label for="female">Female:</label>
                    <input type="radio" name="gender" required id="female" value="female">
                    </td>
                </tr>
                <tr>
                    <td>Date of birth:<span class="requiredField">*</span></td>
                    <td>
                    <select name="day" id="day" onclick="registerValidate()" onblur="registerValidate()">
                        <option disabled selected>Day</option>
                        <script>
                            for (var i = 1; i <= 31; i++){
                                var option = document.createElement('option');
                                option.value = i;
                                option.innerText = i;
                                document.getElementById('day').appendChild(option);
                            }
                        </script>
                    </select>
                    <select name="month" id="month" onclick="registerValidate()" onblur="registerValidate()">
                        <option disabled selected>Month</option>
                        <script>
                            for (var i = 1; i <= 12; i++){
                                var option = document.createElement('option');
                                option.value = i;
                                option.innerText = i;
                                document.getElementById('month').appendChild(option);
                            }
                        </script>
                    </select>
                    <select name="year" id="year" onclick="registerValidate()" onblur="registerValidate()">
                        <option disabled selected>Year</option>
                        <script>
                            for (var i = 1897; i <= (new Date()).getFullYear(); i++){
                                var option = document.createElement('option');
                                option.value = i;
                                option.innerText = i;
                                document.getElementById('year').appendChild(option);
                            }
                        </script>
                    </select>
                    </td>
                    <td id="birthdayWorn"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="radio" name="notification" id="notification" value="notifications">
                        <label for="notification">I want to receive information about promotions and new products</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="radio" name="terms" id="terms" value="terms" onclick="openTerms()">
                        <label for="terms">I accept the terms of use</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="register" value="Register" disabled id="regButton"></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>