<h1>User cart</h1>
<div id="invalidQuantity" class="button" style="width: 200px; height: 50px; display: none; word-wrap: break-word">Sorry, for the inconvenience, not enough quantity on stock!</div>
<table id="userCart">
    <tr>
        <th>#</th>
        <th colspan="2">Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Amount</th>
    </tr>
</table>
<div class="button" style="width: 130px;">
    <a href="?page=main">Add new product</a>
</div>

<div id="order">

</div>

<div id="quantityWarning">

</div>




